rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /contacts/{contactId} {
      allow read, write: if true;
    }
    match /villages/{villageId} {
      allow read, write: if true;
    }
    match /approvals/{approvalId} {
      allow read, write: if true;
    }
    match /settings/{settingId} {
      allow read, write: if true;
    }
  }
}
